.single-destination{
    background-color: #EFEFEF;
    padding: 15px;
    margin-top: 18px;
    border-radius: 6px;
}

.ride-info{
    display: flex;
    background-color: #fff;
    width: 215px;
    margin-bottom: 11px;
   border-radius: 5px;
}
.ride-info img{
    width: 50px;
    height: 50px;
}
.ride-info h4{
    font-size: 17px;
    font-size: 17px;
    margin-left: 74px;
    margin-top: -37px;
    font-weight: 600;
    padding: 10px;
}
.ride-info span{
    margin-left: 74%;;
   display: inline-block;
   font-size: 15px;
   font-weight: 600;
   margin-top: 2px;
   position: absolute;
   top: 10px;
   top: 20px;
}
.location-info{
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.location{
    background-color: #fff;
    width: 191px;
    padding-left: 10px;
    color: #000;
    margin-top: 10px;
}
.location-info h4{
    font-size: 16px;
    margin-bottom: 17px;
    padding: 9px;

}
.location-info span{
    width: 176px;
    display: inline-block;
    color: #000;
    font-size: 15px;
}
.ride-search{
    background-color: #FF6A48;
    padding: 8px 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    color: #fff;
    font-weight: 600;
    margin-left: 32px;
}
.input-field{
    overflow: visible;
width: 99px;
margin-bottom: 13px;
height: 22px;
font-size: 10px;
margin-bottom: 10px;
margin-top: -2px;
}
.price3{
    
}