.background-img{
    position: relative;
}
.rideData-wrap{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.background-img img{
    background-position: top center;
    height: 100vh;
    width: 100%;
}

@media (max-width: 480px){
    .rideData-wrap{
        margin-top:250px;
    }
}