.header-wrap{background:#84DEF1;}
.menu{margin-top: 20px;}
.header{}
.header h4{
  font-weight: 700;
  margin-top: 15px;
  font-size: 24px;

}

.menu ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.menu ul li{margin-left:35px;}
.menu ul li:last-child {
  padding: 8px 25px;
  margin-top: -5px;
}
.menu ul li a{
  text-decoration: none;
  color:#000;
}
li.login {background-color: #FF6A48; color:#fff;}